.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(100vw - 80px);
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;

    h1{
        text-align: center;
        font-size: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
    }
}

.perfil{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.6rem;
}

.divImgPerfil{
    // margin-top: 3.8rem;
    width: 22vw;
    height: 22vw;
    z-index: 9;
    margin-right: 4rem;
}

.imgPerfil{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.parentIntro{
    width: 100%;
}

.intro{
    width: 42vw;
    height: 9vw;
    z-index: 0;
    background-color: #fcfcfc;
    box-shadow: 2px 2px 5px 2px #dadada;
    border-radius: 0.5rem;
    h3{
        font-size: 1.5vw;
        padding: 2% 2% 2% 5%;
    }
    p{
        padding-left: 5%;
        padding-bottom: 2%;
        font-size: 1.4vw;
    }
}

.divIcons{
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    width: 42vw;
    height: 12vw;
    z-index: 0;
    background-color: #fcfcfc;
    box-shadow: 2px 2px 5px 2px #dadada;
    border-radius: 0.5rem;
    flex-wrap: wrap;
    div{
        margin-top: 3.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        p{
            font-size: 1.2vw;
            margin-left: 2%;
        }
        span{
            font-size: 3.3vw;
        }
    }
    h3{
        padding: 2% 2% 2% 5%;
    }
}

.cards{
    min-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    border-radius: 0.5rem;
    margin-bottom: 0.6rem;
}

.card{
    // width: 100%;
    height: 25vh;
    min-width: 210px;
    width: 25vw;
    // height: 170px;
    display: flex;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    z-index: 0;
    box-shadow: 2px 2px 5px 2px #dadada;
    border-radius: 0.5rem;
    h3{
        font-size: 1.9rem;
        color: #fcfcfc;
    }
}

.cards :nth-child(2){
    background-color: #1D1D2E;
}

.footer{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1.5vw;
}

@media screen and (max-width: 1023px) {
    .container{
        height: 100%;
        h1{
            text-align: center;
            font-size: 2rem;
            padding-top: 0.5rem;
            padding-bottom: 1.5rem;
        }
    }
    .perfil{
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0.6rem;
    }
    .intro{
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 1rem 0;
        h3{
            font-size: 140%;
        }
        p{            
            font-size: 120%;
            margin-bottom: 0.3rem;
            padding-left: 5%;
        }
    }
    .footer{
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 1.2rem;
    }
    .divImgPerfil{
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-top: 3.8rem;
        min-width: 270px;
        height: 270px;
        z-index: 9;
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .divIcons{
        display: flex;
        flex-direction: column;
        margin-top: 1.2rem;
        width: 100%;
        height: 150px;
        z-index: 0;
        background-color: #fcfcfc;
        box-shadow: 2px 2px 5px 2px #dadada;
        border-radius: 0.5rem;
        flex-wrap: wrap;
        div{
            margin-top: 3.5%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            p{
                font-size: 1.5rem;
                margin-left: 2%;
            }
            span{
                font-size: 2rem;
            }
        }
        h3{
            padding: 2% 2% 2% 5%;
        }
    }
    .divIcons{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .cards{
        flex-direction: column;
    }
    .card{
        min-width: 210px;
        width: 250px;
        height: 150px;
        display: flex;
        margin: 0.5rem;
        justify-content: center;
        align-items: center;
        z-index: 0;
        box-shadow: 2px 2px 5px 2px #dadada;
        border-radius: 0.5rem;
        h3{
            font-size: 1.9rem;
            color: #fcfcfc;
        }
    }
}